$background: #1c1d23;
$surface: #343640;
$primary: #111111;
$secondary: #6b95ff;
// $primary: #ffe66b;
// $secondary: #6b95ff;
$tertiary: #ffd36b;
$quaternary: #b56bff;
$error: #ff4d4d;
$info: #4da6ff;
$success: #4dff88;
$warning: #ffb84d;

$light: #ffffff;
$dark: #1c1d23;

$light-blur: #ffffff8b;
$dark-blur: #1c1d238b;
